target
mytests
.DS_Store
.idea
dkm-commandlist.txt
*.iml
*/.classpath
*/.project
*/.settings
*.versionsBackup
pikes.ipr
pikes.iws
utils
parent
fcw
tint
wordnet
ukb
ukb-3.2
models
*.tgz*
*.tar.gz*
pikes-tintop-1.0-SNAPSHOT-jar-with-dependencies.jar
