.idea/
pikes-naflib/pikes-naflib.iml
pikes-naflib/target/
pikes.iml
target/

**/pom.xml.versionsBackup
**/*.iml
**/.classpath
**/.project
**/.settings
**/.DS_Store
**/logback.xml

pikes-rdf/test/
sync-demo.sh

test/lib
test/naf
test/pikes
test/rdf
test/tmp

dkm*