#headerdx img {
    height: 50px;
    margin: 10px;
}

#headerdx #logofbk {
    height: 60px;
}

#headerdx {
    text-align: right;
}

#titlerow {
    margin-top: 20px;
}

#titlerow h1 img {
    height: 30px;
    margin-top: -5px;
}

#part1.inactive, #part2.inactive {
    display: none;
}

.sentence {
    padding: 3px 5px;
    border-radius: 3px;
}

.too-long {
    background-color: #FFFFb4;
}

/* Bootstrap overwritten rules */

.label {
    font-size: 100% !important;
    font-weight: normal !important;
}

/* Spinner */

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}